<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
    <a class="navbar-brand" href="#">
      <img src="logoenicar.jpg" alt="Logo" width="40" height="40" class="d-inline-block align-top">
      
    </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <!-- Liens de navigation (facultatif) -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservations">Réservations</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="/calendar">calendar</a>
        </li>
        <li class="nav-item" *ngIf="authService.hasRole('SECRETAIRE')">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        
        </li>
        <li class="nav-item" *ngIf="authService.hasRole('SECRETAIRE')">
          <a class="nav-link" href="/profile">Examens</a>
        
        </li>
      </ul>
  
      <!-- Zone droite : Notifications et Profil -->
      <ul class="navbar-nav">
        <!-- Notifications -->
        <li class="nav-item dropdown">
          <a class="nav-link position-relative" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown">
            <i class="bi bi-bell fs-5"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
             
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/notifications">Alerte</a></li>
           
          </ul>
        </li>
  
        <!-- Profil utilisateur -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle fs-5"></i> Mon Compte
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/settings">Paramètres</a></li>
            <li><a class="dropdown-item" (click)="logout()">Se déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  